default: &default
  adapter: postgresql
  encoding: unicode
  username: postgres
  password: 5550129piyuelo
  host: localhost
  port: 5432
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  ##timeout: 5000

development:
  <<: *default
  database: budget_app_db
  username: postgres

test:
  <<: *default
  database:  budget_app_test_db
  username: postgres

production:
  <<: *default
  url: <%= ENV['DATABASE_URL'] %>