<div class="splash-container">
  <div class="header-splash"></div>

  <div class="content-splash">
  <h1 class="title-splash">Welcome to Budget App Rod!</h1>

  <div class="links-container-splash">
    <%= link_to 'Sign Up', new_user_registration_path, class: 'sign-btn' %>
    <%= link_to 'Log In', new_user_session_path, class: 'log-btn' %>
  </div>
  </div>
</div>