<div class="splash-container">

  <div class="content-splash">
  <h2 class="h2-splash">Welcome to Budget App Rod!</h2>

  <div class="links-container-splash">
    <%= link_to 'LOG IN', new_user_session_path, class: 'log-btn' %>
    <%= link_to 'SIGN UP', new_user_registration_path, class: 'sign-btn' %>
  </div>
  </div>
</div>